In [1]:
import pandas as pd

In [233]:
barnone = "//Barnone_ready.csv"
diffords = "//Diffords_ready.csv"
drinkmixer = "//Drinkmixer_ready.csv"
iba = "//IBA_ready.csv"
liquor = "//Liquor_ready.csv"

In [234]:
dataFrame = pd.concat(map(pd.read_csv, [barnone, diffords, drinkmixer, iba, liquor]), ignore_index=True)

In [235]:
dataFrame

,Name,Ingredients,Making,Link,Glass,Garnish,Base,Method,Type,Flavor
0,#26,"Grapes Red, 1 part(s) Pernod Absinthe, 1 dash(...","Muddle six or seven grapes. Add ice, lime, syr...",https://www.barnonedrinks.com/drinks/-/26-1339...,Highball Glass,fresh grapes,NaN,"Strain, Shake",Long,NaN
1,$2 Fish,"1 oz Vodka Orange Twist, 1 oz Tequila, 1/2 oz ...",Combine vodka and tequilla in a highball glass...,https://www.barnonedrinks.com/drinks/-/2-fish-...,Highball Glass,NaN,"Vodka, Tequila",Build,Long,NaN
2,'57 Chevy,"1 oz Southern Comfort, 1 oz Crown Royal, 1 oz ...",Fill a highball glass with ice and pour in the...,https://www.barnonedrinks.com/drinks/-/57-chev...,Highball Glass,NaN,NaN,Shake,Long,NaN
3,'57 Chevy #1,"1 oz Amaretto, 1 oz Southern Comfort, 1 oz Pea...",Mix over ice in a hurricane glass. No girl can...,https://www.barnonedrinks.com/drinks/-/57-chev...,Hurricane Glass,NaN,NaN,Stir,Long,NaN
4,'57 Chevy #2,"1 1/2 oz Southern Comfort, 1 1/2 oz Grand Marn...",Combine in a highball glass and top with pinea...,https://www.barnonedrinks.com/drinks/-/57-chev...,Highball Glass,NaN,Vodka,Build,Long,NaN
...,...,...,...,...,...,...,...,...,...,...
35721,Corpse Reviver No. 2,"Absinthe, 3/4 oz gin, 3/4 oz Lillet blanc, 3/4...",Rinse the inside of a chilled coupe or cocktai...,https://www.liquor.com/recipes/corpse-reviver-...,Coupe or Cocktail Glass,NaN,Gin,"Shake, Strain",Short,NaN
35722,Aviation,"2 oz gin, 1/2 oz maraschino liqueur, 1/4 oz cr...","Add the gin, maraschino liqueur, creme de viol...",https://www.liquor.com/recipes/aviation/,Cocktail Glass,a brandied cherry,Gin,"Shake, Strain",Short,Fruity
35723,Tom Collins,"2 oz gin, 1 oz lemon juice, 1/2 oz simple syru...","Add the gin, lemon juice and simple syrup to a...",https://www.liquor.com/recipes/tom-collins-2/,Collins Glass,a lemon wheel and maraschino cherry (optional),Gin,"Stir, Shake",Long,"Sweet ,Sour"
35724,Clover Club,"2 oz gin, 1/2 oz lemon juice, 1/2 oz raspberry...","Add the gin, lemon juice, raspberry syrup and ...",https://www.liquor.com/recipes/clover-club/,Cocktail Glass,3 speared raspberries,Gin,"Shake, Stir, Strain",Short,NaN
35725,Last Word,"3/4 oz gin, 3/4 oz green Chartreuse, 3/4 oz ma...","Add the gin, green Chartreuse, maraschino liqu...",https://www.liquor.com/recipes/the-last-word/,Coupe Glass,a brandied cherry (optional),Gin,"Shake, Strain",Short,NaN

In [236]:
dataFrame.describe()

,Name,Ingredients,Making,Link,Glass,Garnish,Base,Method,Type,Flavor
count,35726,35726,35724,35726,31446,12034,30661,28033,25064,3213
unique,30797,35472,27426,35726,126,4601,584,110,84,101
top,Moscow Mule,"1/2 oz Jagermeister, 1/2 oz Goldschlager",SHAKE all ingredients with ice and fine strain...,https://www.barnonedrinks.com/drinks/-/26-1339...,Cocktail Glass,Orange zest twist,Vodka,"Strain, Shake",Short,"Gentle 0 - Boozy 10: 7, Sweet 0 - Dry/Sour 10: 7"
freq,5,6,1343,1,5694,644,4496,5877,9622,449

### 바리에이션 넘버 부여하기

In [237]:
pd.set_option('display.max_seq_items', None)

In [238]:
data_name_dup = dataFrame.duplicated(subset=["Name"], keep=False)
len(data_name_dup[data_name_dup==True])

9317

In [239]:
data_name_dup_ind = []
name_unique = []
for i in range(len(dataFrame)):
    if data_name_dup[i]==True:
        data_name_dup_ind.append(i)
        if dataFrame["Name"][i] not in name_unique:
            name_unique.append(dataFrame["Name"][i])

In [240]:
len(name_unique)

4388

In [241]:
name_list = list(dataFrame["Name"])

In [242]:
for i in data_name_dup_ind:
    vari_count = 1
    name = name_list[i]
    if '#' in name:
        original_name = name.split("#")[0].strip()
        while original_name+" #{}".format(vari_count) in name_list:
            vari_count += 1
            if vari_count>100:
                print("nonono")
                break
        name_list[i] = original_name+" #{}".format(vari_count)
    else:
        original_name = name
        while original_name+" #{}".format(vari_count) in name_list:
            vari_count += 1
            if vari_count>100:
                print("nonono")
                break
        name_list[i] = original_name+" #{}".format(vari_count)

In [243]:
dataFrame["Name"] = name_list

In [244]:
# 확인
data_name_dup = dataFrame.duplicated(subset=["Name"], keep=False)
len(data_name_dup[data_name_dup==True])

0

In [245]:
dataFrame.head()

,Name,Ingredients,Making,Link,Glass,Garnish,Base,Method,Type,Flavor
0,#26,"Grapes Red, 1 part(s) Pernod Absinthe, 1 dash(...","Muddle six or seven grapes. Add ice, lime, syr...",https://www.barnonedrinks.com/drinks/-/26-1339...,Highball Glass,fresh grapes,NaN,"Strain, Shake",Long,NaN
1,$2 Fish,"1 oz Vodka Orange Twist, 1 oz Tequila, 1/2 oz ...",Combine vodka and tequilla in a highball glass...,https://www.barnonedrinks.com/drinks/-/2-fish-...,Highball Glass,NaN,"Vodka, Tequila",Build,Long,NaN
2,'57 Chevy,"1 oz Southern Comfort, 1 oz Crown Royal, 1 oz ...",Fill a highball glass with ice and pour in the...,https://www.barnonedrinks.com/drinks/-/57-chev...,Highball Glass,NaN,NaN,Shake,Long,NaN
3,'57 Chevy #1,"1 oz Amaretto, 1 oz Southern Comfort, 1 oz Pea...",Mix over ice in a hurricane glass. No girl can...,https://www.barnonedrinks.com/drinks/-/57-chev...,Hurricane Glass,NaN,NaN,Stir,Long,NaN
4,'57 Chevy #2,"1 1/2 oz Southern Comfort, 1 1/2 oz Grand Marn...",Combine in a highball glass and top with pinea...,https://www.barnonedrinks.com/drinks/-/57-chev...,Highball Glass,NaN,Vodka,Build,Long,NaN

### 깨진 글자, 악센트 있는 알파벳 고치기

In [246]:
possible_word = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', "'", '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', ',', '.', ':', '!', '&', '*', '#', '(', ')', '@', '-', '~', '/', '$', '%', '"', '{', '}', '+', '=', '[', ']', '>']

In [247]:
word_dict = {}

In [248]:
for i in range(len(dataFrame)):
    name = str(dataFrame["Name"][i]).lower().replace(" ", "")
    ingredient = str(dataFrame["Ingredients"][i]).lower().replace(" ", "")
    making = str(dataFrame["Making"][i]).lower().replace(" ", "")
    for j in range(len(name)):
        if name[j] not in possible_word:
            if name[j] in list(word_dict.keys()):
                word_dict[name[j]].append(i)
            else:
                word_dict[name[j]] = [i]
    for k in range(len(ingredient)):
        if ingredient[k] not in possible_word:
            if ingredient[k] in list(word_dict.keys()):
                word_dict[ingredient[k]].append(i)
            else:
                word_dict[ingredient[k]] = [i]
    for l in range(len(making)):
        if making[l] not in possible_word:
            if making[l] in list(word_dict.keys()):
                word_dict[making[l]].append(i)
            else:
                word_dict[making[l]] = [i]

In [249]:
word_dict.keys()

dict_keys(['–', '’', '‘', ';', '…', 'é', '“', '”', '?', 'ç', 'ë', '®', 'è', '_', 'í', 'ã', 'ñ', 'ä', 'ó', 'ü', 'º', '½', 'ú', '´', 'â', '—', '°', '\xad', '¾', '`', '¼', '\\', 'ï', 'à', '⁄', 'û', '⅓', 'á', 'ê', 'ö', '˚', 'ś', 'î', '짰', '�', '챔', '다', '음', '재', '생', '찼', '§', '韮', '陇', 'ž', '쩐', '卤', 'ي', '¤', '漏', '챌', 'ł', '³', '±', '챰', '째', '쩍', '‚', '¢', '¬', 'å', '\x9d', '·', '„', '€', '쫒', '셳', '채', '¦', '¨', '챕', '́', '̀', '\x7f', 'ō'])

엑셀에서 깨진 글자별 바꿀 글자를 확인을 위해 일단 파일 저장하기

dataFrame.to_csv("C:/Users/82102/Desktop/University/1-2/WebPython/lecture_script/Trem_project/Data/data_mid.csv", encoding="utf-8-sig", index=False)

In [250]:
word_dict['\xad']

[7801, 19493]

In [251]:
word_dict['\\']

[11210, 11996, 11997]

In [252]:
word_dict['\x9d']

[27839, 27839]

In [253]:
# word_dict[''́']

In [254]:
 word_dict['́']

[35094, 35094, 35139, 35139]

In [255]:
 word_dict['̀']

[35124, 35124]

In [256]:
 word_dict['\x7f']

[35311]

word_collection_1: 먼저 돌려줄 것<br>
word_collection_2: 다음으로 돌려줄 것<br>
word_collection_3: 마지막으로 돌려줄 것

In [257]:
word_collection_1 = {'韮陇': 'a', '韮漏': 'a', '韮卤': 'n', 'ي¤': 'a', 'íł': 'o', 'ã±': 'n', 'í¢â‚¬Å“': '', 'í¢â‚¬Â': '', 'í¢â‚¬â„¢': "'", 'í‚Â· ': '', 'í‚Â½': '', 'í¢â‚¬Â¦': '', ' â€”': '', 'í¨': 'e', 'pur챕e': 'pour', 'Bénédictine': 'Benedictine', 'Crème': 'Creme', '': '' }
word_collection_2 = {'–': '-', '’': "'", '‘': "'", '…': '...', '“': '"', '”': '"', 'º': '', '½': '1/2', '´': "'", '—': '-', '°': '', '¾': '3/4', "`": "'", '¼': '1/4', '\\': '', '⁄': '/', '⅓': '1/3', '˚': '', '짰': '', '�': '', '챔': 'é', '다': '', '음': '', '재': '', '생': '', '찼': 'a', '§': 's', '쩐': '3/4', '챌': 'c', '³': '', '챰': 'n', '째': '', '쩍': '1/2', '‚': ',', '쫒': ' i', '셳': "'t", '채': 'a', }
word_collection_3 = {'é': 'e', 'ç': 'c', 'ë': 'e', 'è': 'e', 'ã': 'a', 'ñ': 'n', 'ä': 'a', 'ó': 'o', 'ü': 'u', 'ú': 'u', 'â': 'a', 'ï': 'i', 'à': 'a', 'û': 'u', 'á': 'a', 'ê': 'e', 'ö': 'o', 'ś': 's', 'î': 'i', 'ž': 'z', 'å': 'a', 'ō': 'o'}

In [258]:
word_col_1_key = list(word_collection_1.keys())
for i in range(len(dataFrame)):
    for j in range(len(word_col_1_key)):
        if word_col_1_key[j] in str(dataFrame["Name"][i]):
            dataFrame["Name"][i] = str(dataFrame["Name"][i]).replace(word_col_1_key[j],word_collection_1[word_col_1_key[j]])
        if word_col_1_key[j] in str(dataFrame["Ingredients"][i]):
            dataFrame["Ingredients"][i] = str(dataFrame["Ingredients"][i]).replace(word_col_1_key[j],word_collection_1[word_col_1_key[j]])
        if word_col_1_key[j] in str(dataFrame["Making"][i]):
            dataFrame["Making"][i] = str(dataFrame["Making"][i]).replace(word_col_1_key[j],word_collection_1[word_col_1_key[j]])

In [259]:
word_col_2_key = list(word_collection_2.keys())
for i in range(len(word_col_2_key)):
    for index in word_dict[word_col_2_key[i]]:
        dataFrame["Name"][index] = str(dataFrame["Name"][index]).replace(word_col_2_key[i], word_collection_2[word_col_2_key[i]])
        dataFrame["Ingredients"][index] = str(dataFrame["Ingredients"][index]).replace(word_col_2_key[i], word_collection_2[word_col_2_key[i]])
        dataFrame["Making"][index] = str(dataFrame["Making"][index]).replace(word_col_2_key[i], word_collection_2[word_col_2_key[i]])

In [260]:
word_col_3_key = list(word_collection_3.keys())
for i in range(len(dataFrame)):
    for j in range(len(word_col_3_key)):
        if word_col_3_key[j] in str(dataFrame["Name"][i]):
            dataFrame["Name"][i] = str(dataFrame["Name"][i]).replace(word_col_3_key[j],word_collection_3[word_col_3_key[j]])
        if word_col_3_key[j] in str(dataFrame["Ingredients"][i]):
            dataFrame["Ingredients"][i] = str(dataFrame["Ingredients"][i]).replace(word_col_3_key[j],word_collection_3[word_col_3_key[j]])
        if word_col_3_key[j] in str(dataFrame["Making"][i]):
            dataFrame["Making"][i] = str(dataFrame["Making"][i]).replace(word_col_3_key[j],word_collection_3[word_col_3_key[j]])

확인

In [261]:
word_dict = {}

In [262]:
for i in range(len(dataFrame)):
    name = str(dataFrame["Name"][i]).lower().replace(" ", "")
    ingredient = str(dataFrame["Ingredients"][i]).lower().replace(" ", "")
    making = str(dataFrame["Making"][i]).lower().replace(" ", "")
    for j in range(len(name)):
        if name[j] not in possible_word:
            if name[j] in list(word_dict.keys()):
                word_dict[name[j]].append(i)
            else:
                word_dict[name[j]] = [i]
    for k in range(len(ingredient)):
        if ingredient[k] not in possible_word:
            if ingredient[k] in list(word_dict.keys()):
                word_dict[ingredient[k]].append(i)
            else:
                word_dict[ingredient[k]] = [i]
    for l in range(len(making)):
        if making[l] not in possible_word:
            if making[l] in list(word_dict.keys()):
                word_dict[making[l]].append(i)
            else:
                word_dict[making[l]] = [i]

In [263]:
word_dict.keys()

dict_keys([';', '?', 'ç', '®', '_', 'í', 'â', '\xad', 'é', '¤', 'á'])

깨진 글자가 조금 남았지만 여기까지만 할 것

데이터 저장하기

In [264]:
dataFrame.to_csv("//Cocktail_data.csv", encoding="utf-8-sig", index=False)